@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <form id="logoutForm" class="navbar-right" method="POST" action="@Url.Action(MVC.Authentication.LogOff())">
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="@Url.Action(MVC.Account.Manage())" title="Manage">Hello @User.Identity.GetUserName()!</a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action(MVC.SignUpEmail.Index())">Sign up</a>
        </li>
        <li>
            <a href="@Url.Action(MVC.SignIn.Index())">Sign in</a>
        </li>
    </ul>
}
