@using Tripod.Domain.Security
@using Tripod.Web.Models

@model SendConfirmationEmail

@{
    ViewBag.Title = "Register an email address";
}

@section styles
{
    <style>
        .provider-alert {
            margin-top: 20px; /* alert needs more vertical space at top, h2 only has 10px margin-bottom */
        }
    </style>
}

<hr class="hr-md hr-space" />
<div class="row" ng-app="sign-up-form" ng-controller="App.Security.SignUp.EmailForm.Controller">
    <div class="col-sm-8 col-sm-offset-2">

        @* HEADING *@
        <h2>
            Sign in  &raquo;
            <small>@ViewBag.Title.</small>
        </h2>

        @* EMAIL CLAIMS INFO ALERT *@
        <div class="alert alert-warning provider-alert">
            You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
            However, you must confirm an email address before you can sign in.
            <strong>Alternatively, you can skip email confirmation</strong> by signing in with one of the accounts below
            and adding your @ViewBag.LoginProvider account later.
        </div>

        @* OAUTH PROVIDER BUTTONS FORM *@
        @{ Html.RenderPartial(MVC.Authentication.Views._OAuthSignInForm, new SignInOAuthButtonModel { EmailProvidersOnly = true }); }

        <h4>
            Provide an email address to continue your @ViewBag.LoginProvider sign in.<br />
            <small>(You won't be required to do this again, it's just a first-time thing when signing in with @ViewBag.LoginProvider.)</small>
        </h4>

        @{ Html.RenderPartial(MVC.Authentication.Views._SendConfirmEmailForm); }

    </div>
</div>

@section scripts
{
    @{ Html.RenderPartial(MVC.Scripts.Views.Angular); }
    <script src="~/app/security/sign-up/EmailForm.js"></script>
}
