@{
    ViewBag.Title = "Manage Account";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-12">
        @{ Html.RenderAction(MVC.LocalMemberships.Form()); }
        <section id="externalLogins">
            @Html.Action(MVC.Account.RemoveAccountList())
            @Html.Partial(MVC.Account.Views._ExternalLoginsListPartial, new { Action = MVC.Account.ActionNames.LinkLogin, ViewBag.ReturnUrl })
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
