@using Tripod.Domain.Security
@using UserConstraints = Tripod.Domain.Security.User.Constraints
@model CreateLocalMembership
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

<form action="@Url.Action(MVC.LocalMemberships.Register())" method="POST" class="form-horizontal" role="form">
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary(true)
    <div class="form-group">
        <label for="@Html.IdFor(x => x.UserName)" class="col-md-2 control-label">
            @UserConstraints.NameLabel
        </label>
        <div class="col-md-10">
            <input type="text" id="@Html.IdFor(x => x.UserName)" name="@Html.NameFor(x => x.UserName)" class="form-control" value="@Html.ValueFor(x => x.UserName)" />
            @Html.ValidationMessageFor(x => x.UserName)
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.IdFor(x => x.Password)" class="col-md-2 control-label">
            @LocalMembership.Constraints.PasswordLabel
        </label>
        <div class="col-md-10">
            <input type="password" id="@Html.IdFor(x => x.Password)" name="@Html.NameFor(x => x.Password)" class="form-control" />
            @Html.ValidationMessageFor(x => x.Password)
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.IdFor(x => x.ConfirmPassword)" class="col-md-2 control-label">
            @LocalMembership.Constraints.PasswordConfirmationLabel
        </label>
        <div class="col-md-10">
            <input type="password" id="@Html.IdFor(x => x.ConfirmPassword)" name="@Html.NameFor(x => x.ConfirmPassword)" class="form-control" />
            @Html.ValidationMessageFor(x => x.ConfirmPassword)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
