@using Tripod.Domain.Security
@model CreateLocalMembership
@{
    ViewBag.Title = "Set Password";
}
@if (ViewBag.AsPartial != null && !ViewBag.AsPartial)
{
    <h2>@ViewBag.Title.</h2>
}

<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>
<form action="@Url.Action(MVC.LocalMemberships.ActionNames.CreatePassword, MVC.LocalMemberships.Name)" method="POST" class="form-horizontal" role="form">

    @Html.AntiForgeryToken()

    <h4>Create Local Login</h4>
    <hr />
    @Html.ValidationSummary(true)
    <div class="form-group">
        <label class="col-md-2 control-label" for="@Html.IdFor(x => x.Password)">
            @LocalMembership.Constraints.PasswordLabel
        </label>
        <div class="col-md-10">
            <input type="password" id="@Html.IdFor(x => x.Password)" name="@Html.NameFor(x => x.Password)" class="form-control" />
            @Html.ValidationMessageFor(x => x.Password)
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.IdFor(x => x.ConfirmPassword)" class="col-md-2 control-label">
            @LocalMembership.Constraints.PasswordConfirmationLabel
        </label>
        <div class="col-md-10">
            <input type="password" id="@Html.IdFor(x => x.ConfirmPassword)" name="@Html.NameFor(x => x.ConfirmPassword)" class="form-control" />
            @Html.ValidationMessageFor(x => x.ConfirmPassword)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Set password" class="btn btn-default" />
            <br />
            @Html.ValidationMessageFor(x => x.Principal)
        </div>
    </div>
</form>
