@using Microsoft.AspNet.Identity
@using Tripod.Domain.Security
@model ChangeLocalPassword

@{
    ViewBag.Title = "Change Password";
}

@if (ViewBag.AsPartial != null && !ViewBag.AsPartial)
{
    <h2>@ViewBag.Title.</h2>
}

<p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>

<form action="@Url.Action(MVC.LocalMemberships.ActionNames.ChangePassword, MVC.LocalMemberships.Name)" method="POST" class="form-horizontal" role="form">
    
    @Html.AntiForgeryToken()

    @if (ViewBag.AsPartial == null || ViewBag.AsPartial)
    {
        <h4>Change Password Form</h4>
    }
    <hr />
    @Html.ValidationSummary(true)
    <div class="form-group">
        <label class="col-md-2 control-label" for="@Html.IdFor(x => x.OldPassword)">
            @LocalMembership.Constraints.OldPasswordLabel
        </label>
        <div class="col-md-10">
            <input type="password" id="@Html.IdFor(x => x.OldPassword)" name="@Html.NameFor(x => x.OldPassword)" class="form-control" />
            @Html.ValidationMessageFor(x => x.OldPassword)
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="@Html.IdFor(x => x.NewPassword)">
            @LocalMembership.Constraints.NewPasswordLabel
        </label>
        <div class="col-md-10">
            <input type="password" id="@Html.IdFor(x => x.NewPassword)" name="@Html.NameFor(x => x.NewPassword)" class="form-control" />
            @Html.ValidationMessageFor(x => x.NewPassword)
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.IdFor(x => x.ConfirmPassword)" class="col-md-2 control-label">
            @LocalMembership.Constraints.NewPasswordConfirmationLabel
        </label>
        <div class="col-md-10">
            <input type="password" id="@Html.IdFor(x => x.ConfirmPassword)" name="@Html.NameFor(x => x.ConfirmPassword)" class="form-control" />
            @Html.ValidationMessageFor(x => x.ConfirmPassword)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-default" />
            <br />
            @Html.ValidationMessageFor(x => x.Principal)
        </div>
    </div>
</form>
