@using Tripod.Domain.Security
@model DeleteRemoteMembership

<form action="@Url.Action(MVC.RemoteMemberships.ActionNames.Disassociate, MVC.RemoteMemberships.Name)" method="POST">

    @Html.AntiForgeryToken()

    <div>
        <input type="hidden" name="@Html.NameFor(x => x.LoginProvider)" value="@Html.ValueFor(x => x.LoginProvider)" />
        <input type="hidden" name="@Html.NameFor(x => x.ProviderKey)" value="@Html.ValueFor(x => x.ProviderKey)" />
        <input type="submit" class="btn btn-default" value="Remove" title="Remove this @Model.LoginProvider login from your account" />
    </div>
</form>
