@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes().ToArray();
}
<form action="@Url.Action(MVC.SignOn.ActionNames.Index, MVC.SignOn.Name, new { returnUrl = ViewBag.ReturnUrl })" method="POST">
    @Html.AntiForgeryToken()
    <div>
        <p>
            @foreach (var p in loginProviders)
            {
                <button type="submit" name="provider" value="@p.AuthenticationType"
                        title="Sign in using your @p.Caption account" class="btn btn-default">
                    @p.AuthenticationType
                </button>
            }
        </p>
    </div>
</form>
