@model Tripod.Domain.Security.SignIn

@{
    ViewBag.Title = "Sign in";
}

@section styles
{
    <link href="~/content/security/sign-in.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">

        @* HEADING *@
        <h2>@ViewBag.Title.</h2>

        @* OAUTH PROVIDER BUTTONS FORM *@
        <div class="providers row">
            <form action="@Url.Action(MVC.Authentication.ExternalLogin())" method="POST">

                @Html.AntiForgeryToken()

                <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />

                @* GOOGLE *@
                <div class="col-sm-4">
                    <p>
                        <button type="submit" name="provider" value="Google" title="Sign in with Google" class="google btn btn-lg">
                            <i></i>
                            <span class="hidden-md hidden-sm">Sign in with <strong>Google</strong></span>
                            <strong class="hidden-lg hidden-xs">Google</strong>
                        </button>
                    </p>
                </div>

                @* FACEBOOK *@
                <div class="col-sm-4">
                    <p>
                        <button type="submit" name="provider" value="Facebook" title="Sign in with Facebook" class="facebook btn btn-lg">
                            <i></i>
                            <span class="hidden-md hidden-sm">Sign in with <strong>Facebook</strong></span>
                            <strong class="hidden-lg hidden-xs">Facebook</strong>
                        </button>
                    </p>
                </div>

                @* TWITTER *@
                <div class="col-sm-4">
                    <p>
                        <button type="submit" name="provider" value="Twitter" title="Sign in with Twitter" class="twitter btn btn-lg">
                            <i></i>
                            <span class="hidden-md hidden-sm">Sign in with <strong>Twitter</strong></span>
                            <strong class="hidden-lg hidden-xs">Twitter</strong>
                        </button>
                    </p>
                </div>
            </form>
        </div>

        <p>
            Have an account? Sign in with your username / email address and password below.
        </p>
    </div>
</div>
@*<div class="row">
        <div class="col-md-8">
            <section>
                <form action="@Url.Action(MVC.Authentication.SignIn(null, (string)ViewBag.ReturnUrl))" method="POST" class="form-horizontal" role="form">
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to sign in.</h4>
                    <hr />
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.IsPersistent)
                                @Html.LabelFor(x => x.IsPersistent, "Remember me?")
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Sign In" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        <a href="@Url.Action(MVC.EmailAddresses.SignUp())">Sign up</a> if you don't have a local account.
                    </p>
                </form>
            </section>
        </div>
        <div class="col-md-4">
            <section>
                @{
                    Html.RenderPartial(MVC.RemoteMemberships.Views._SignOnList, ViewData);
                }
            </section>
        </div>
    </div>*@

@section scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
