@using Microsoft.AspNet.Identity
@using Tripod.Domain.Security
@using UserConstraints = Tripod.Domain.Security.User.Constraints

@model ChangeUserName

<form role="form"
      method="POST"
      action="@Url.Action(MVC.User.ChangeUserName())"
      novalidate
      ng-app="change-username-form"
      ng-controller="App.Security.ChangeUserNameForm.Controller"
      name="changeUserNameForm"
      form-contrib="changeUserNameCtrb"
      form-submitted="@IsPost"
      class="form-horizontal">

    @Html.AntiForgeryToken()
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <input type="hidden" name="userId" value="@User.Identity.GetUserId()" />

    @Html.ValidationSummary(true)
    @{
        const string inputCss = "input-lg";
        const string inputGroupCss = "input-group input-group-lg";
    }

    @* USERNAME INPUT *@
    <div class="form-group form-group-lg @Html.BootstrapValidationCssClassFor(x => x.UserName, true)"
         remove-class="has-success has-error"
         ng-class="changeUserNameCtrb.userName.feedbackCssClass()">

        @* INPUT GROUP COLUMN *@
        <div class="col-md-8">
            @* LABEL *@
            <label for="@Html.IdFor(x => x.UserName)" class="control-label">
                @UserConstraints.NameLabel
            </label>
            <small>@Resources.Validation_UserName_AllowedCharacters.Replace("{PropertyName}", "-")</small>
            <div class="@Html.CssClassWhenInvalidFor(x => x.UserName, inputGroupCss)"
                 remove-class="@inputGroupCss"
                 ng-class="changeUserNameCtrb.userName.inputGroupCssClass('lg')">
                <input type="text"
                       class="form-control @inputCss"
                       placeholder="Enter @UserConstraints.NameLabel.ToLower() here"
                       id="@Html.IdFor(x => x.UserName)"
                       name="userName"
                       value="@Html.ValueFor(x => x.UserName)"
                       ng-init="vm.userName='@Html.ValueForJavaScriptString(x => x.UserName)'"
                       ng-model="vm.userName"
                       required
                       model-contrib
                       server-error="@Html.ValidationMessageTextFor(x => x.UserName)"
                       server-validate="@Url.Action(MVC.User.ValidateChangeUserName())"
                       server-validate-data="{ token: vm.token }"
                       server-validate-throttle="400" />

                <span class="input-group-addon validation @Html.CssClassWhenIsNotPost("hide")"
                      remove-class="hide"
                      ng-class="vm.userNameInputGroupValidationAddOnCssClass()">
                    <i class="fa fa-fw fa-asterisk default" title="This is a required field"></i>
                    <i class="fa fa-fw fa-times error"></i>
                    <i class="fa fa-fw fa-spinner fa-spin spin-fast spinner"></i>
                    <i class="fa fa-fw fa-exclamation-triangle warning"></i>
                    <i class="fa fa-fw fa-check success"></i>
                </span>
            </div>
        </div>

        @* VALIDATION MESSAGES COLUMNS *@
        <div class="col-md-4 validation help-block help-block-horizontal-md under-label hidden-sm hidden-xs">
            <span tooltip="@Resources.notempty_error.Replace("{PropertyName}", UserConstraints.NameLabel)"
                  tooltip-toggle="vm.isUserNameRequiredError()"
                  tooltip-animation="false"
                  tooltip-placement="right"
                  class="validation-tooltip"></span>
            <span tooltip="{{ changeUserNameCtrb.userName.error.server }}"
                  tooltip-toggle="vm.isUserNameServerError()"
                  tooltip-animation="false"
                  tooltip-placement="right"
                  class="validation-tooltip"></span>
            <span ng-class="{ hide: true }">@Html.ValidationMessageFor(x => x.UserName)</span>
        </div>
        <div class="col-md-4 validation help-block hidden-md hidden-lg">
            <span ng-show="vm.isUserNameRequiredError()" ng-cloak>
                @Resources.notempty_error.Replace("{PropertyName}", UserConstraints.NameLabel)
            </span>
            <span ng-show="vm.isUserNameServerError()" ng-cloak>
                {{ changeUserNameCtrb.userName.error.server }}
            </span>
            <span ng-class="{ hide: true }">
                @Html.ValidationMessageFor(x => x.UserName)
            </span>
        </div>
    </div>

    @* FORM SUBMIT BUTTON *@
    <div class="form-group">
        <div class="col-md-12">
            @{
                var buttonClass = ViewData.ModelState.IsValid ? null : "btn-danger";
                var readyClass = ViewData.ModelState.IsValid ? null : "hide";
                var errorClass = ViewData.ModelState.IsValid ? "hide" : null;
            }
            <div class="pull-left">
                <button type="submit"
                        class="btn btn-primary btn-lg @buttonClass"
                        ng-class="vm.submitCssClass()"
                        ng-disabled="vm.isSubmitDisabled()"
                        remove-class="@buttonClass">
                    <i class="fa fa-fw fa-user @readyClass"
                       remove-class="@readyClass"
                       ng-show="vm.isSubmitReady()"></i>
                    <i class="fa fa-fw fa-exclamation-triangle @errorClass"
                       remove-class="@errorClass"
                       ng-show="vm.isSubmitError()"></i>
                    <i class="fa fa-fw fa-spinner fa-spin spin-fast"
                       ng-show="vm.isSubmitWaiting()" ng-cloak></i>
                    Change @UserConstraints.NameLabel.ToLower()
                </button>
                <a href="@Url.Action(MVC.User.ChangeUserName())" class="nudge-right"
                   ng-click="vm.restoreOrigialUserName($event)"
                   ng-init="vm.originalUserName='@(Html.ValueFor(x => x.UserName).ToString() != "" ? Html.ValueForJavaScriptString(x => x.UserName) : MvcHtmlString.Create(User.Identity.Name))'">
                    Cancel
                </a>
            </div>
            <div class="has-error pull-left nudge-right @errorClass"
                 remove-class="@errorClass"
                 ng-show="vm.isSubmitError()">
                <div class="help-block">
                    Could not change @UserConstraints.NameLabel.ToLower() due to above error(s).
                </div>
            </div>
        </div>
    </div>

</form>
