@model SignOnFormModel

@{
    var columnWidth = Model.EmailProvidersOnly ? "col-sm-6" : "col-sm-4";
}

<form action="@Url.Action(MVC.SignOn.Index())" method="POST" class="providers row">

    @Html.AntiForgeryToken()

    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />

    @* GOOGLE *@
    <div class="@columnWidth">
        @{ Html.RenderPartial(MVC.Security.Views._SignOnGoogleButton); }
    </div>

    @* FACEBOOK *@
    <div class="@columnWidth">
        @{ Html.RenderPartial(MVC.Security.Views._SignOnFacebookButton); }
    </div>

    @* TWITTER *@
    @if (!Model.EmailProvidersOnly)
    {
        <div class="col-sm-4">
            @{ Html.RenderPartial(MVC.Security.Views._SignOnTwitterButton); }
        </div>
    }
</form>

