@using System.Linq
@using Microsoft.Owin.Security
@using Tripod.Domain.Security
@model LoginSettingsModel

@{
    ViewBag.Title = "Logins";
}

@section styles
{
    <link href="~/content/security/user-settings.css" rel="stylesheet" />
}



@{ Html.RenderPartial(MVC.Users.Views._UserJumbotron, Model.UserView); }

<section class="user-settings row">

    @{ Html.RenderPartial(MVC.Security.Views._UserSettingsNav, new UserSettingsNavModel { IsLogins = true }); }

    <div class="col-md-8" role="main">

        @{ Html.RenderPartial(MVC.Shared.Views._AlertsTempData, new AlertRenderOptions()); }

        <h3 class="scalp">
            My logins
        </h3>

        @if (!Model.Logins.Any())
        {
            <p>
                You do not have any logins linked to your account.
            </p>
        }
        else
        {
            <p>
                You can sign in using any of the following accounts:
            </p>
            <ul class="logins list-unstyled">
                @foreach (RemoteMembershipView login in Model.Logins)
                {
                    <li class="@login.Provider.ToLower() clearfix">
                        <i class="provider"></i>
                        <span class="login-text">
                            @login.Provider
                        </span>
                        @if (Model.IsDeleteAllowed)
                        {
                            <div class="buttons">
                                <form method="POST" action="@Url.Action(MVC.UserLogins.Delete(login.Provider, null))" class="form-inline" style="display: inline;">
                                    @Html.AntiForgeryToken()
                                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <input type="hidden" name="providerKey" value="@login.Key" />
                                    <button type="submit"
                                            class="btn btn-warning btn-sm"
                                            data-bootbox="confirm-form-submit"
                                            data-bootbox-class="modal-danger modal-buttons-left"
                                            data-bootbox-close="false"
                                            data-bootbox-title="Please confirm your intent"
                                            data-bootbox-message="Are you sure you want to remove your **@login.Provider** login?"
                                            data-bootbox-confirm="Yes, confirm remove"
                                            data-bootbox-confirm-class="btn-danger"
                                            data-bootbox-deny="No, cancel remove"
                                            data-bootbox-deny-class="btn-link">
                                        <i class="fa fa-times"></i>
                                        Remove
                                    </button>
                                </form>
                            </div>
                        }
                    </li>
                }
            </ul>
        }

        @{
            var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes()
                .Where(x => Model.Logins.All(y => x.AuthenticationType != y.Provider))
                .ToArray();

            var google = loginProviders.SingleOrDefault(x => x.AuthenticationType.Equals("Google", StringComparison.OrdinalIgnoreCase));
            var facebook = loginProviders.SingleOrDefault(x => x.AuthenticationType.Equals("Facebook", StringComparison.OrdinalIgnoreCase));
            var twitter = loginProviders.SingleOrDefault(x => x.AuthenticationType.Equals("Twitter", StringComparison.OrdinalIgnoreCase));
        }
        @if (loginProviders.Any())
        {
            <h3>
                Add login
            </h3>

            <form action="@Url.Action(MVC.UserLogins.Post())" method="POST" class="providers row">

                @Html.AntiForgeryToken()

                <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />

                @if (google != null)
                {
                    <div class="col-sm-4">
                        @{ Html.RenderPartial(MVC.Security.Views._SignOnGoogleButton); }
                    </div>
                }
                @if (facebook != null)
                {
                    <div class="col-sm-4">
                        @{ Html.RenderPartial(MVC.Security.Views._SignOnFacebookButton); }
                    </div>
                }
                @if (twitter != null)
                {
                    <div class="col-sm-4">
                        @{ Html.RenderPartial(MVC.Security.Views._SignOnTwitterButton); }
                    </div>
                }
            </form>
        }
    </div>
</section>

@section scripts
{
    @{ Html.RenderPartial(MVC.Scripts.Views.Angular); }
    <script src="~/scripts/bootbox.js"></script>
    <script src="~/scripts/marked.js"></script>
    <script src="~/app/_common/unobtrusive/bootbox-confirm.js"></script>
}